@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Fira+Code:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--main);
}
:root {
  --header: #1e1e1e;
  --main: #2e2e2e;
  --blanco: #fff;
  --negro: #000;
  --amarillo: gold;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--header);
  white-space: nowrap;
}

header .imagen-personal {
  display: flex;
  align-items: center;
  background-color: var(--header);
  z-index: 1;
  padding-right: 20px;
}

header .nombre {
  font-size: 15px;
  color: var(--blanco);
}
nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: var(--blanco);
  padding: 20px;
}
main {
  width: 70%;
  margin: 0 auto;
}
main .titulo{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
main .titulo img {
  height: 50vh;
  width: 50vh;
  border-radius: 50%;
}
main .titulo h1{
    margin-top: 3%;
    margin-right: 15%;
    
}
main .contenedor-sobremi h1 {
  padding: 20px;
  margin-top: 5%;
}
