body {
  background-color: #000;
  overflow: hidden;
}

.pacman {
  position: absolute;
  top: 50%;
  width: 100px;
  height: 100px;
  background: radial-gradient(#f1d76b, #f1c71c);
  border-radius: 50%;
  animation: mover-pacman-derecha 10s linear infinite;
}

.fantasma-rojo {
  background: radial-gradient(#ff0000, #cc0000);
  position: absolute;
  top: 50%;
  left: 15%;
  width: 100px;
  height: 100px;
  border-radius: 50px 50px 5px 5px;
  background-color: #fff;
  animation: mover-fantasma-rojo 10s linear infinite,
    cambiar-color-fantasma-rojo 10s infinite linear;
}
.fantasma-rojo .pies {
  animation: movimiento-pies-fantasma-rojo 0.2s infinite;
  width: 32px;
  height: 40px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 80px;
  left: 1px;
  color: #000;
  box-shadow: 33px 0, 66px 0;
}

.fantasma-rojo .ojos1 {
  width: 25px;
  height: 35px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
}
.fantasma-rojo .pupil {
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 38px;
  left: 40px;
  transform: translate(-50%, -50%);
}
.fantasma-rojo .pupil2 {
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 38px;
  left: 75px;
  transform: translate(-50%, -50%);
}

.fantasma-rojo .ojos2 {
  width: 25px;
  height: 35px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 55px;
}

.fantasma-rosa {
  position: absolute;
  background: radial-gradient(#ff66b2, #ff3385);
  left: 27%;
  top: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50px 50px 0 0;
  background-color: #fff;
  animation: mover-fantasma-rosa 10s linear infinite,
    cambiar-color-fantasma-rosa 10s infinite linear;
}
.fantasma-rosa .pies {
  width: 32px;
  height: 35px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 80px;
  left: 1px;
  color: #000;
  box-shadow: 33px 0, 66px 0;
  animation: movimiento-pies-fantasma-rojo 0.2s infinite;
}
.fantasma-rosa .ojos1 {
  width: 25px;
  height: 35px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
}

.fantasma-rosa .ojos2 {
  width: 25px;
  height: 35px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 55px;
}
.fantasma-rosa .pupil {
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 38px;
  left: 40px;
  transform: translate(-50%, -50%);
}
.fantasma-rosa .pupil2 {
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 38px;
  left: 75px;
  transform: translate(-50%, -50%);
}

.fantasma-celeste {
  background: radial-gradient(#87ceeb, #5bb8e9);
  position: absolute;
  top: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50px 50px 0 0;
  background-color: #fff;
  animation: mover-fantasma-celeste 10s linear infinite,
    cambiar-color-fantasma-celeste 10s infinite linear;
  left: 39%;
}
.fantasma-celeste .pies {
  width: 32px;
  height: 35px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 80px;
  left: 1px;
  color: #000;
  box-shadow: 33px 0, 66px 0;
  animation: movimiento-pies-fantasma-rojo 0.2s infinite;
}

.fantasma-celeste .ojos1 {
  width: 25px;
  height: 35px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
}

.fantasma-celeste .ojos2 {
  width: 25px;
  height: 35px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 55px;
}
.fantasma-celeste .pupil {
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 38px;
  left: 40px;
  transform: translate(-50%, -50%);
}
.fantasma-celeste .pupil2 {
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 38px;
  left: 75px;
  transform: translate(-50%, -50%);
}
.fantasma-naranja {
  position: absolute;
  background: radial-gradient(#ff9900, #e68500);
  left: 51%;
  top: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50px 50px 0 0;
  background-color: #fff;
  animation: mover-fantasma-naranja 10s linear infinite,
    cambiar-color-fantasma-naranja 10s infinite linear;
}

.fantasma-naranja .pies {
  width: 32px;
  height: 35px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 80px;
  left: 1px;
  color: #000;
  box-shadow: 33px 0, 66px 0;
  animation: movimiento-pies-fantasma-rojo 0.2s infinite;
}
.fantasma-naranja .ojos1 {
  width: 25px;
  height: 35px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
}

.fantasma-naranja .ojos2 {
  width: 25px;
  height: 35px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 55px;
}
.fantasma-naranja .pupil {
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 38px;
  left: 40px;
  transform: translate(-50%, -50%);
}
.fantasma-naranja .pupil2 {
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 38px;
  left: 75px;
  transform: translate(-50%, -50%);
}

.ojo {
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #000;
  border-radius: 50%;
  top: 20px;
  right: 25px;
}

.boca {
  position: absolute;
  top: 25px;
  right: -2px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 30px solid transparent;
  border-right: 52px solid #000;
  animation: movimiento-boca 0.29s infinite alternate;
}

@keyframes cambiar-color-fantasma-rojo {
  0% {
    background: radial-gradient(#ff0000, #cc0000);
  }
  49% {
    background: radial-gradient(#ff0000, #cc0000);
  }
  50% {
    background: #2438b4;
  }
  100% {
    background: #2438b4;
  }
}
@keyframes cambiar-color-fantasma-rosa {
  0% {
    background: radial-gradient(#ff66b2, #ff3385);
  }
  49% {
    background: radial-gradient(#ff66b2, #ff3385);
  }
  50% {
    background: #2438b4;
  }
  100% {
    background: #2438b4;
  }
}
@keyframes cambiar-color-fantasma-celeste {
  0% {
    background: radial-gradient(#87ceeb, #5bb8e9);
  }
  49% {
    background: radial-gradient(#87ceeb, #5bb8e9);
  }
  50% {
    background: #2438b4;
  }
  100% {
    background: #2438b4;
  }
}
@keyframes cambiar-color-fantasma-naranja {
  0% {
    background: radial-gradient(#ff9900, #e68500);
  }
  49% {
    background: radial-gradient(#ff9900, #e68500);
  }
  50% {
    background: #2438b4;
  }
  100% {
    background: #2438b4;
  }
}

@keyframes mover-fantasma-naranja {
  0% {
    left: -900px;
    transform: scaleX(1);
  }
  50% {
    left: 140vw;
    transform: scaleX(1);
  }
  51% {
    transform: scaleX(-1);
  }
  100% {
    left: -900px;
    transform: scaleX(-1);
  }
}
@keyframes mover-fantasma-rojo {
  0% {
    left: -750px;
    transform: scaleX(1);
  }
  50% {
    left: 155vw;
    transform: scaleX(1);
  }
  51% {
    transform: scaleX(-1);
  }
  100% {
    left: -750px;
    transform: scaleX(-1);
  }
}

@keyframes mover-fantasma-rosa {
  0% {
    left: -600px;
    transform: scaleX(1);
  }
  50% {
    left: 170vw;
    transform: scaleX(1);
  }
  51% {
    transform: scaleX(-1);
  }
  100% {
    left: -600px;
    transform: scaleX(-1);
  }
}

@keyframes mover-fantasma-celeste {
  0% {
    left: -450px;
    transform: scaleX(1);
  }
  50% {
    left: 185vw;
    transform: scaleX(1);
  }
  51% {
    transform: scaleX(-1);
  }
  100% {
    left: -450px;
    transform: scaleX(-1);
  }
}

@keyframes mover-pacman-derecha {
  0% {
    left: -100px;
    transform: scaleX(1);
  }
  50% {
    left: 185vw;
    transform: scaleX(1);
  }
  51% {
    transform: scaleX(-1);
  }
  100% {
    left: -100px;
    transform: scaleX(-1);
  }
}
@keyframes movimiento-pies-fantasma-rojo {
  0% {
    height: 35px;
  }
  20% {
    height: 33px;
  }
  40% {
    height: 31px;
  }
  60% {
    height: 29px;
  }
  80% {
    height: 31px;
  }
  100% {
    height: 33px;
  }
}

@keyframes movimiento-boca {
  0% {
    clip-path: polygon(0% 100%, 100% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

.pacman-title {
  min-width: 700px;
  font-family: "Ewert", serif;
  color: #ffcc00;
  font-size: 80px;
  text-align: center;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  animation: parpadeo 2s infinite, mover-titulo 5s linear infinite;
  background-color: #800000;
  user-select: none;
  border-radius: 15px;
  text-shadow: 10px 0 10px #000;
}
.pacman-title::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  background: radial-gradient(circle, #800000 0%, #000 100%);
  border-radius: 50px;
  z-index: -1;
}

@keyframes parpadeo {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.5;
  }
}

@keyframes mover-titulo {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}
