body {
  background-color: #000;
  overflow: hidden;
}

.pacman {
  position: absolute;
  top: 50%;
  width: 100px;
  height: 100px;
  background: radial-gradient(#f1d76b, #f1c71c);
  border-radius: 50%;
  animation: mover-pacman-derecha 0s linear infinite;
}
.fantasma-rojo {
  position: absolute;
  top: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50px 50px 5px 5px;
  background-color: #fff;
  animation: mover-fantasma-rojo 0s linear infinite;
}
.fantasma-rojo .pies{
  width: 32px;
  height: 35px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 80px;
  left: 1px;
  color: #000;
  box-shadow: 33px 0, 66px 0;
}

.fantasma-rojo .ojos1 {
  width: 25px;
  height: 35px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
}
.fantasma-rojo .pupil {
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 38px;
  left: 40px;
  transform: translate(-50%, -50%);
}
.fantasma-rojo .pupil2{
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 38px;
  left: 75px;
  transform: translate(-50%, -50%);
}

.fantasma-rojo .ojos2 {
  width: 25px;
  height: 35px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 55px;
}

.fantasma-rosa {
  position: absolute;
  top: 0%;
  width: 100px;
  height: 100px;
  border-radius: 50px 50px 0 0;
    background-color: #fff;
  animation: mover-fantasma-rosa 0s linear infinite;
}
.fantasma-rosa .pies{
  width: 32px;
  height: 35px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 80px;
  left: 1px;
  color: #000;
  box-shadow: 33px 0, 66px 0;
}
.fantasma-rosa .ojos1 {
  width: 25px;
  height: 35px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
}

.fantasma-rosa .ojos2 {
  width: 25px;
  height: 35px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 55px;
}
.fantasma-rosa .pupil {
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 38px;
  left: 40px;
  transform: translate(-50%, -50%);
}
.fantasma-rosa .pupil2{
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 38px;
  left: 75px;
  transform: translate(-50%, -50%);
}


.fantasma-celeste {
  position: absolute;
  top: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50px 50px 0 0;
  background-color: #fff;
  animation: mover-fantasma-celeste 0s linear infinite;
}
.fantasma-celeste .pies{
  width: 32px;
  height: 35px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 80px;
  left: 1px;
  color: #000;
  box-shadow: 33px 0, 66px 0;
}

.fantasma-celeste .ojos1 {
  width: 25px;
  height: 35px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
}

.fantasma-celeste .ojos2 {
  width: 25px;
  height: 35px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 55px;
}
.fantasma-celeste .pupil {
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 38px;
  left: 40px;
  transform: translate(-50%, -50%);
}
.fantasma-celeste .pupil2{
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 38px;
  left: 75px;
  transform: translate(-50%, -50%);
}
.fantasma-naranja {
  position: absolute;
  top: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50px 50px 0 0;
  background-color: #fff;
  animation: mover-fantasma-naranja 0s linear infinite;
}
.fantasma-naranja .pies{
  width: 32px;
  height: 35px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 80px;
  left: 1px;
  color: #000;
  box-shadow: 33px 0, 66px 0;
}
.fantasma-naranja .ojos1 {
  width: 25px;
  height: 35px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
}

.fantasma-naranja .ojos2 {
  width: 25px;
  height: 35px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 55px;
}
.fantasma-naranja .pupil {
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 38px;
  left: 40px;
  transform: translate(-50%, -50%);
}
.fantasma-naranja .pupil2{
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 38px;
  left: 75px;
  transform: translate(-50%, -50%);
}

.ojo {
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #000;
  border-radius: 50%;
  top: 20px;
  right: 25px;
}

.boca {
  position: absolute;
  top: 25px;
  right: -2px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 30px solid transparent;
  border-right: 52px solid #000;
  animation: movimiento-boca 0.29s infinite alternate;
}

@keyframes mover-pacman-derecha {
  0% {
    left: -850px;
  }
  100% {
    left: 140vw;
  }
}
@keyframes mover-fantasma-rojo {
  0% {
    left: -550px;
  }
  100% {
    left: 155vw;
  }
}

@keyframes mover-fantasma-rosa {
  0% {
    left: -400px;
  }
  100% {
    left: 170vw;
  }
}

@keyframes mover-fantasma-celeste {
  0% {
    left: -250px;
  }
  100% {
    left: 185vw;
  }
}

@keyframes mover-fantasma-naranja {
  0% {
    left: -100px;
  }
  100% {
    left: 200vw;
  }
}


@keyframes movimiento-boca {
  0% {
    clip-path: polygon(0% 100%, 100% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

.fantasma-rojo { background: radial-gradient(#ff0000, #cc0000); left: 15%; }
.fantasma-rosa { background: radial-gradient(#ff66b2, #ff3385); left: 27%; }
.fantasma-celeste { background: radial-gradient(#87ceeb, #5bb8e9); left: 39%; }
.fantasma-naranja { background: radial-gradient(#ff9900, #e68500); left: 51%; }
